body {
    background-color: rgb(68, 72, 73);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
}

a#links {
    text-align: left;
    margin-top: auto;
    font-size: 30pt;
}

.picture {
    height: 300px;
    align-content: center;
    margin-bottom: 50px;
}

img {
    width: auto;
    max-height: 100%;
}

.top-bar {
    height: 44px;
    background-color: rgb(136, 49, 60);
    padding-top: 20px;
}

.main-nav {
    text-align: center;
    list-style: none;
}

.main-nav a {
    color: aliceblue;
    font-size: x-large;
    display: inline-block
}

.main-page-text {
    
}