body {
    background-color: rgb(68, 72, 73);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    margin-top: 50px;
    margin-bottom: -10px;
}

a#links {
    text-align: left;
    margin-top: auto;
    font-size: 30pt;
}

.picture {
    height: 300px;
    align-content: center;
    margin-bottom: 100px;
}

img {
    width: auto;
    max-height: 100%;
}

.top-bar {
    height: 44px;
    background-color: rgb(136, 49, 60);
    text-align: left;
}

.top-bar a {
    color: aliceblue;
}